.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .button{
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button:disabled{
    cursor: not-allowed;
  }