.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F5F6FA;
    padding: 10px;
    border-radius: 19px;
    border-color: #D4D4D4;
    width: max-content;
  }
  
  .input {
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
  }